<!DOCTYPE html>
<html>
<head>
    <title>IPLit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
        
</head>
<body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="/" ><img src="http://nebula.wsimg.com/b40999fac865a1b2d8ec50eaa83050f4?AccessKeyId=F793B67FFB91B9B6B9BA&disposition=0&alloworigin=1"></a>
                    </div>

                    <div style="margin-left: 35%; font-size: 20px">
                        <span class="navbar-text">
                          Welcome to <%= event %>
                        </span>
                        <img src="<%= event_img %>" >
                    </div>                    
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/register">Register</a></li>
                            <li><a href="/scan">Scan</a></li>
                            <li><a href="/master">Master</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            